MYGET_FEED=cprima-forge
MYGET_PYPI_USERNAME=cprima
MYGET_PYPI_PASSWORD=myget-access-token
MYGET_NUGET_APIKEY=myget-nuget-api-key
MYGET_PYPI_UPLOAD=https://www.myget.org/F/cprima-forge/python/upload
MYGET_PYPI_INDEX=https://www.myget.org/F/cprima-forge/python/
MYGET_NUGET_PUSH=https://www.myget.org/F/cprima-forge/api/v2/package
